* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(45deg, indigo, lime);
}
.container {
    width: 320px;
    height: 500px;
    position: relative;
    background: rgba(0,255,0,0.35);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
}
.container .heading {
    position: absolute;
    top: 0;
}
.container .menu ol{
    list-style: none;
    width: 100%;
}
.container .menu ol li {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    font-family: Cursive;
    font-variant: small-caps;
    padding: 10px;
    background: rgba(0,0,0,0.2);
    margin-top: 5px;
    border-radius: 10px;
    border-top: 3px outset lime;
    border-right: 3px outset lime;
    border-left: 3px outset lime;
    border-bottom: 3px outset indigo;
    cursor: pointer;
}
.menu ol li a {
    color: black;
    text-decoration: none;
    position: relative;
}